.jumbotron {
    font-size: 40px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    background-color: white;
    height: 100px;
    border-bottom: 1px solid #46b5e0;
    box-shadow: 0px 0.5px 5px 0.5px rgba(0, 0, 0, 0.2);
    /* position: fixed; */
    width: 100%;
 }

.img-logo{
    height:60px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 10px;
}

.logo{
    display: inline-flex;
}



