label{
    width: 200px;
    display: block;
    color:black;
    
    margin-left: 10%;
}

.container{
    box-shadow: rgba(17, 17, 17, 3) 0px 3px 5px;
    margin-top: 20px;
    margin-left: 2%;
    padding-top: 20px;
    border-radius: 10px;
    
}

input{
    border-radius: 5px;
    height: 30px;
    width: 80%;
    font-size: 14px;
    color: rgb(25, 26, 27);
    border: 1px solid rgb(228, 224, 220);
        border-bottom-color: rgb(221, 220, 218);
        border-bottom-style: solid;
        border-bottom-width: 1px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.button{
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 0.9rem;
    white-space: nowrap;
    border: 1px solid rgb(40, 128, 206);
    padding: 0px 1rem;
    min-width: 100px;
    min-height: 30px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(40, 128, 206);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    width: 80%;

}

.register{
    margin-left: 40%;
    margin-right: 40%;
    text-align:"end";
    margin-top:"100%";
    margin-bottom:"100%";
    width: 20%;
    }